:root {
  --black: #030406;
  --white: #f5f5f7;
  --icon-size: 20px;
  --text-white: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h1 {
  font-size: 72px;
}
p {
  font-size: 32px;
  font-weight: bold;
}
button {
  margin-top: 30px;
  cursor: pointer;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 30px;
  border: 2px solid black;
  font-size: 17px;
  background-color: white;
  width: 133px;
}

.header-container {
  height: 44px;
  background-color: var(--black);
  color: var(--white);
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  position: fixed;
  width: 100%;
  z-index: 10;
  top: 0px;
  left: 0px;
}

.header-inner-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.header-inner-container > span,
i {
  cursor: pointer;
}

.icon {
  font-size: var(--icon-size);
  cursor: pointer;
}

@media screen and (min-width: 1100px) {
  .header-container {
    padding-left: 15%;
    padding-right: 15%;
  }
}

.section1 {
  background-image: url("./assets/background.jpg");
  height: 1000px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  transform: translateY(-100px);
  text-align: center;
}

.section1 > div {
  margin-top: 400px;
}
.section1 > div > h1 {
  margin-top: 40px;
  margin-bottom: 20px;
}
.section1 > div > p {
  font-size: 32px;
}
.section1 > div > button {
  margin-top: 30px;
  width: 161px;
  cursor: pointer;
  color: var(--text-white);
  background-color: var(--black);
  border-radius: 30px;
  border: 2px solid white;
  font-size: 17px;
}
.section1 > div > button:hover {
  background-color: white;
  color: black;
}

.section2 {
  height: 700px;
  display: flex;
}
.section2 > .div1 {
  width: 60%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section2 > .div1 > div {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
}
.section2 > .div1 > div > button {
  margin: 10px;
}
.section2 > .div1 > div > button {
  margin-top: 30px;
  cursor: pointer;
  background-color: white;
  border-radius: 30px;
  border: 2px solid black;
  font-size: 17px;
}
.section2 > .div1 > div > button:hover {
  background-color: black;
  color: white;
}
.section2 > .div2 {
  width: 40%;
  background-image: url("./assets/iphone_13_pro.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.section3 {
  height: 900px;
  background-image: url("./assets/iphone_13_section3.jpg");
  background-repeat: no-repeat;
  background-position: 0px -250px;
  background-color: #34283c;
  display: flex;
  padding-right: 60px;
}
.section3 > div {
  width: 50%;
}
.section3 > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section3 > div:nth-child(2) > h1 {
  margin-bottom: 10px;
}
.section3 > div:nth-child(2) > div > button {
  margin-top: 30px;
  cursor: pointer;
  background-color: #34283c;
  border-radius: 30px;
  border: 2px solid white;
  color: white;
  margin-left: 7px;
  margin-right: 7px;
  font-size: 17px;
}
.section3 > div:nth-child(2) > div > button:hover {
  background-color: white;
  color: black;
}

.section4 {
  height: 1020px;
  background-color: #f5f5f7;
  background-image: url("./assets/watch_series_7_section4.jpg");
  background-repeat: no-repeat;
  background-size: 100% 524px;
  background-position: center bottom;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
}
.section4 > img {
  margin-bottom: 29px;
}
.section4 > span {
  color: #777;
  margin-top: 40px;
}
.section4 > button {
  background-color: #f5f5f7;
  margin-top: 15px;
}
.section4 > button:hover {
  background-color: black;
  color: white;
}

.section5 {
  height: 900px;
  background-image: url("./assets/ipad_mini.jpg");
  background-repeat: no-repeat;
  background-position: 110% 140px;
  background-size: 750px 900px;
}
.section5 > div:nth-child(1) {
  width: 55%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.section5 > div > img {
  margin-bottom: 29px;
}
.section5 > div > div > button {
  margin-left: 7px;
  margin-right: 7px;
}
.section5 > div > div > button:hover {
  background-color: black;
  color: white;
}

.section6 {
  height: 950px;
  background-color: #f5f5f7;
  padding-left: 39.6px;
  padding-right: 39.6px;
  display: flex;
  flex-direction: row-reverse;
  background-image: url("./assets/ipad.jpg");
  background-repeat: no-repeat;
  background-size: 865px 800px;
  background-position: 80px 80px;
}
.section6 > div {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section6 > div > h1 {
  margin-bottom: 20px;
}
.section6 > div > div > button {
  margin-left: 7px;
  margin-right: 7px;
}
.section6 > div > div > button:hover {
  background-color: black;
  color: white;
}
